body{
    background-color:white(0 92% 4%);
    color:brown(57, 54, 54);
    font-size: 30px;
    line-height: 1.5;
}

h4{
    text-align: center;
    color: brown(142, 18, 18);
    text-transform: uppercase;
}

h4{
    text-align: left;
    color: brown, 15, 15);
}
h4{
    color: brown;
}